<ul class="sidebar-menu-admin">
    <h2>Admin Panel</h2>
    <li>
        <a href="@Url.Action("Index")">Analytic</a>
    </li>

    <li>
        <a href="@Url.Action("BookList")">Books</a>
    </li>

    <li>
        <a>Users</a>
    </li>

    <li>
        <a>Orders</a>
    </li>

    <li>
        <a href="@Url.Action("ArticlesList")">Articles</a>
    </li>

    <li>
        <a>Reviews</a>
    </li>

    <li>
        <a href="@Url.Action("AuthorList")">Authors</a>
    </li>

    <li>
        <a href="@Url.Action("PublishersList")">Publishers</a>
    </li>

    <div>
        <button class="button-for-a rounded-corners">
            <a href="@Url.Action("Index", "Home")">Go Home</a>
        </button>
    </div>

</ul>