<header id="header">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-2">
                <div class="main-logo">
                    <a href="@Url.Action("Index", "Home")"><img src="~/Content/images/main-logo.png" alt="logo"></a>
                </div>

            </div>

            <div class="col-md-10">

                <nav id="navbar">
                    <div class="main-menu stellarnav">
                        <ul class="menu-list">
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li><a href="@Url.Action("Index", "Genre")">Genre</a> </li>
                            <li><a href="@Url.Action("ArticlesList", "Articles")">Articles</a></li>
                            <li><a href="@Url.Action("Index", "About")">About</a></li>
                            <li><a href="@Url.Action("Index", "Review")">Review</a></li>
                            <li><a href="@Url.Action("Index", "Offer")">Offer</a></li>
                        </ul>

                        <div class="hamburger">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>

                    </div>
                </nav>

            </div>

        </div>
    </div>
</header>