@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta author="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    @* <link rel="stylesheet" type="text/css" href="~/Content/themes/booksaw-1.0.0/css/normalize.css"> *@
    @* <link rel="stylesheet" type="text/css" href="~/Content/themes/booksaw-1.0.0/icomoon/icomoon.css"> *@
    @* <link rel="stylesheet" type="text/css" href="~/Content/themes/booksaw-1.0.0/css/vendor.css"> *@
    @* <link rel="stylesheet" type="text/css" href="~/Content/themes/booksaw-1.0.0/style.css"> *@
    @Styles.Render("~/bundles/normalize/css")
    @Styles.Render("~/bundles/vendor/css")
    @Styles.Render("~/bundles/style/css")


</head>
<body>
<div id="header-wrap">

    <div class="top-content">
        <div class="container-fluid">

            <div class="right-element">
                <a href="#" class="user-account for-buy">
                    <i class="icon icon-user"></i><span>Account</span>
                </a>
                <a href="#" class="cart for-buy">
                    <i class="icon icon-clipboard"></i><span>
                        Cart:(0
                        $)
                    </span>
                </a>
                <a href="@Url.Action("Login", "Auth")" class="account"><i class="icon icon-user"></i><span>Sign in</span></a>


                <div class="action-menu">

                    <div class="search-bar">
                        <a href="#" class="search-button search-toggle" data-selector="#header-wrap">
                            <i class="icon icon-search"></i>
                        </a>
                        <form role="search" method="get" class="search-box">
                            <input class="search-field text search-input" placeholder="Search"
                                   type="search">
                        </form>
                    </div>
                </div>

            </div><!--top-right-->
        </div>
    </div><!--top-content-->

    <header id="header">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-2">
                    <div class="main-logo">
                        <a href="index.html"><img src="Content/images/main-logo.png" alt="logo"></a>
                    </div>

                </div>

                <div class="col-md-10">

                    <nav id="navbar">
                        <div class="main-menu stellarnav">
                            <ul class="menu-list">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="index.html">About</a></li>
                                <li><a href="index.html">Contact</a></li>
                                <li><a href="index.html">Thank You</a></li>
                            </ul>

                            <div class="hamburger">
                                <span class="bar"></span>
                                <span class="bar"></span>
                                <span class="bar"></span>
                            </div>

                        </div>
                    </nav>

                </div>

            </div>
        </div>
    </header>

</div>

<div class="container body-content">
    @RenderBody()
    <hr/>
    <div id="footer-bottom">
        <p class="copy">&copy; @DateTime.Now.Year - Created by Bohdan Kondratiuk, Alexandra Nicipurenco and Alina Vladco</p>
        <p>Used free theme
            <a href="https://themewagon.com/themes/booksaw/" target="_blank">Booksaw</a> from
            <a href="https://themewagon.com/" target="_blank">themewagon</a>
        </p>
        
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/modernizr/js")
@Scripts.Render("~/bundles/plugins/js")
@Scripts.Render("~/bundles/script/js")
@Scripts.Render("~/bundles/slideNav/js")
@Scripts.Render("~/bundles/slideNav/min/js")

</body>
</html>