@using BookShopProject.Domain.Enums.User
<div class="top-content">
    <div class="container-fluid">

        <div class="right-element">
            @*If in accout now*@
            @if (Model.IsAuthenticated)
            {
                <a href="@Url.Action("Index", "Account")" class="user-account for-buy">
                    <i class="icon icon-user"></i><span>Account</span>
                </a>
                if (Model.Role == URole.admin)
                {
                    <a href="@Url.Action("Index", "Admin")" class="user-account for-buy">
                        <i class="icon icon-user"></i><span>Admin panel</span>
                    </a>
                }

                <a href="@Url.Action("Index", "Cart")" class="cart for-buy">
                    <i class="icon icon-clipboard"></i>
                    <span>
                        Cart:(0 $)
                    </span>
                </a>
            }

            @if (!Model.IsAuthenticated)
            {
                <a href="@Url.Action("Login", "Auth")" class="for-buy"><span>Sign in</span></a>
                <a href="@Url.Action("Register", "Auth")" class="for-buy"><span>Register</span></a>
            }



            <div class="action-menu">

                <div class="search-bar">
                    <a href="#" class="search-button search-toggle" data-selector="#header-wrap">
                        <i class="icon icon-search"></i>
                    </a>
                    <form role="search" method="post" class="search-box">
                        <input class="search-field text search-input" placeholder="Search"
                               type="search">
                    </form>
                </div>
            </div>

        </div><!--top-right-->
    </div>
</div><!--top-content-->