@{
    Layout = "../Shared/_AdminLayout.cshtml";
}
@model BookShopProject.Models.Stats

<section class=" py-5 my-5">
    <div class="content">
        <div class="container-fluid">
            <div class="section-header align-center">
                <div>
                    <h2 class="section-title">Statistic</h2>
                </div>
            </div>
            <div class="row">
                <!-- Table: Most Popular Books -->
                <div class="col-md-6 col-lg-3">
                    <h3>Most Popular Books</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th style="background-color: #f3f2ec;">Name</th>
                            <th style="background-color: #f3f2ec;">Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (Model.Books != null)
                        {
                            foreach (var book in Model.Books
                                         .OrderByDescending(b => b.CountOfOrders)
                                         .Take(10)
                                    )
                            {
                                <tr>
                                    <td style="background-color: #f3f2ec;"><a
                                                                               href="@Url.Action("BookDetails")?ISBN=@book.ISBN">@book.Title</a></td>
                                    <td style="background-color: #f3f2ec;">@book.CountOfOrders</td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h3>Most Popular Authors</h3>
                    <table class="table" style="background-color: #f3f2ec;">
                        <thead>
                        <tr style="background-color: #f3f2ec;">
                            <th style="background-color: #f3f2ec;">Name</th>
                            <th style="background-color: #f3f2ec;">Count</th>
                        </tr>
                        </thead>
                        <tbody style="background-color: #f3f2ec;">
                        @if (Model.Authors != null)
                        {
                            foreach (var author in Model.Authors
                                         .Select(a => new
                                         {
                                             Name = a.FirstName + " " + a.LastName,
                                             CountOfOrders = Model.Books?.Where(b => b.AuthorId == a.Id).Sum(b => b.CountOfOrders) ?? 0,
                                             Id = a.Id
                                         })
                                         .OrderByDescending(a => a.CountOfOrders)
                                         .Take(10) // Top 10
                                    )
                            {
                                <tr>
                                    <td style="background-color: #f3f2ec;">
                                        <a
                                            href="@Url.Action("AuthorDetails")?Id=@author.Id">@author.Name</a></td>
                                    <td style="background-color: #f3f2ec;">@author.CountOfOrders</td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
                <!-- Table: Most Popular Publishers -->
                <div class="col-md-6 col-lg-3">
                    <h3>Most Popular Publishers</h3>
                    <table class="table" style="background-color: #f3f2ec;">
                        <thead>
                        <tr>
                            <th style="background-color: #f3f2ec;">Name</th>
                            <th style="background-color: #f3f2ec;">Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (Model.Publishers != null)
                        {
                            foreach (var publisher in Model.Publishers
                                         .Select(p => new
                                         {
                                             Name = p.Name,
                                             CountOfOrders = Model.Books?.Where(b => b.PublisherId == p.Id).Sum(b => b.CountOfOrders) ?? 0,
                                             Id = p.Id
                                         })
                                         .OrderByDescending(p => p.CountOfOrders)
                                         .Take(10)
                                    )
                            {
                                <tr>
                                    <td style="background-color: #f3f2ec;">
                                        <a
                                            href="@Url.Action("PublisherDetails")?Id=@publisher.Id">@publisher.Name</a>
                                    </td>
                                    <td style="background-color: #f3f2ec;">@publisher.CountOfOrders</td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
                <!-- Table: Most Popular Genres -->
                <div class="col-md-6 col-lg-3">
                    <h3>Most Popular Genres</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th style="background-color: #f3f2ec;">Name</th>
                            <th style="background-color: #f3f2ec;">Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (Model.Genre != null)
                        {
                            foreach (var genre in Model.Genre
                                         .OrderByDescending(g => g.CountOfOrders)
                                         .Take(10)
                                    )
                            {
                                <tr>
                                    <td style="background-color: #f3f2ec;"><a href="@Url.Action("BookList", "Book")?Genre=@genre.Name">@genre.Name</a></td>
                                    <td style="background-color: #f3f2ec;">@genre.CountOfOrders</td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>