@{
    Layout = "../Shared/_AdminLayout.cshtml";
}
@model BookShopProject.Models.Stats

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <h4>Most Popular Authors</h4>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>CountOfOrders</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Authors != null)
                        {
                            foreach (var author in Model.Authors
                                .Select(a => new {
                                    Name = a.Name,
                                    CountOfOrders = Model.Books?.Where(b => b.AuthorId == a.Id).Sum(b => b.CountOfOrders) ?? 0
                                })
                                .OrderByDescending(a => a.CountOfOrders)
                                .Take(10) // Top 10
                            )
                            {
                                <tr>
                                    <td>@author.Name</td>
                                    <td>@author.CountOfOrders</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- Table: Most Popular Publishers -->
            <div class="col-md-6 col-lg-3">
                <h4>Most Popular Publishers</h4>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>CountOfOrders</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Publishers != null)
                        {
                            foreach (var publisher in Model.Publishers
                                .Select(p => new {
                                    Name = p.Name,
                                    CountOfOrders = Model.Books?.Where(b => b.PublisherId == p.Id).Sum(b => b.CountOfOrders) ?? 0
                                })
                                .OrderByDescending(p => p.CountOfOrders)
                                .Take(10)
                            )
                            {
                                <tr>
                                    <td>@publisher.Name</td>
                                    <td>@publisher.CountOfOrders</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- Table: Most Popular Books -->
            <div class="col-md-6 col-lg-3">
                <h4>Most Popular Books</h4>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>CountOfOrders</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Books != null)
                        {
                            foreach (var book in Model.Books
                                .OrderByDescending(b => b.CountOfOrders)
                                .Take(10)
                            )
                            {
                                <tr>
                                    <td>@book.Title</td>
                                    <td>@book.CountOfOrders</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- Table: Most Popular Genres -->
            <div class="col-md-6 col-lg-3">
                <h4>Most Popular Genres</h4>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>CountOfOrders</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Genre != null)
                        {
                            foreach (var genre in Model.Genre
                                .OrderByDescending(g => g.CountOfOrders)
                                .Take(10)
                            )
                            {
                                <tr>
                                    <td>@genre.Name</td>
                                    <td>@genre.CountOfOrders</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>