@{
    ViewBag.Title = "ArticlesList";
    Layout = "../Shared/_HeaderLayout.cshtml";
}
@model BookShopProject.Models.ArticleList
<section class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="section-header align-center">
                <div>
                    <h2 class="section-title">Articles</h2>
                </div>
            </div>
            @foreach (var art in Model.Articles)
            {
                <div class="col-md-3 article-background">
                    <a href="@Url.Action("ArticleDetails")?Id=@art.Id">
                        <figure class="article-image">
                            <img src="@art.Image" alt="post" class="post-image">
                        </figure>
                    </a>
                    <div class="post-item">
                        <div id="article-date">@art.PublishedDate</div>
                        <a href="@Url.Action("ArticleDetails")?Id=@art.Id">
                            <h3 class="article-title">@art.Title</h3></a>
                    </div>

                </div>
            }
        </div>
    </div>
</section>