@{
    ViewBag.Title = "ArticleDetails";
    Layout = "../Shared/_HeaderLayout.cshtml";
}
@model BookShopProject.Models.Article
<section class="py-5 my-5">
    <div class="container">
        <div class="align-center">
            @{
                string MonthToString(int month)
                {
                    return month switch
                    {
                        1 => "Jan",
                        2 => "Feb",
                        3 => "Mar",
                        4 => "Apr",
                        5 => "May",
                        6 => "Jun",
                        7 => "Jul",
                        8 => "Aug",
                        9 => "Sep",
                        10 => "Oct",
                        11 => "Nov",
                        12 => "Dec",
                        _ => ""
                    };
                }
            }
            <div>
                <h2 class="article-title-full align-center">@Model.Title</h2>
                <div class="meta-date">@MonthToString(Model.PublishedDate.Month) @Model.PublishedDate.Day, @Model.PublishedDate.Year</div>
            </div>
            <figure class="article-image">
                <img src="@Model.Image" alt="post" class="article-image-full">
            </figure>
            <div>
                <p class="article-text">
                    @Html.Raw(@Model.Content.Replace("\n", "<br>"))
                </p>
            </div>

        </div>
    </div>
</section>