@{
    ViewBag.Title = "ArticlesList";
    Layout = "../Shared/_HeaderLayout.cshtml";
}
@model BookShopProject.Models.ArticleList
<section class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="section-header align-center">
                <div>
                    <h2 class="section-title">Articles</h2>
                </div>
            </div>
            @{
                string MonthToString(int month)
                {
                    return month switch
                    {
                        1 => "Jan",
                        2 => "Feb",
                        3 => "Mar",
                        4 => "Apr",
                        5 => "May",
                        6 => "Jun",
                        7 => "Jul",
                        8 => "Aug",
                        9 => "Sep",
                        10 => "Oct",
                        11 => "Nov",
                        12 => "Dec",
                        _ => ""
                    };
                }
            }
            @foreach (var art in Model.Articles)
            {
                <div class="col-md-3 article-background">
                    <a href="@Url.Action("ArticleDetails")?Id=@art.Id">
                        <figure class="article-image">
                            <img src="@art.Image" alt="post" class="post-image">
                        </figure>
                    </a>
                    <div class="post-item">
                        <div id="article-date">@MonthToString(art.PublishedDate.Month) @art.PublishedDate.Day, @art.PublishedDate.Year</div>
                        <a href="@Url.Action("ArticleDetails")?Id=@art.Id">
                            <h3 class="article-title">@art.Title</h3></a>
                    </div>

                </div>
            }
        </div>
    </div>
</section>