@{
    ViewBag.Title = "ArticleDetails";
    Layout = "../Shared/_HeaderLayout.cshtml";
}
@model BookShopProject.Models.Article
<section class="py-5 my-5">
    <div class="container">
        <div class="align-center">
            <div>
                <h2 class="article-title-full align-center">@Model.Title</h2>
                <div class="meta-date">@Model.PublishedDate</div>
            </div>
            <figure class="article-image">
                <img src="@Model.Image" alt="post" class="article-image-full">
            </figure>
            <div>
                <p class="article-text">
                    @Html.Raw(@Model.Content.Replace("\n", "<br>"))
                </p>
            </div>

        </div>
    </div>
</section>