@{
    ViewBag.Title = "Register";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}
@model BookShopProject.Models.User

<div class="d-flex justify-content-center align-items-center min-vh-100;">
    <div class="register-padding register-login-background">
        @Html.ValidationSummary(true)
        @using (Html.BeginForm("Register", "Auth", FormMethod.Post, new { @id = "registerForm" }))
        {
            @Html.AntiForgeryToken()

            <form class="mx-3 d-flex flex-column" style="gap: 1.5rem" action="/" novalidate>
                <h1 class="text-center mb-3">Create Account</h1>


                <!-- Name Input -->
                <div class="form-outline">
                    @Html.LabelFor(m => m.Name, new { @class = "form-label form-control-lg form-l" })
                    <div class="d-flex justify-content-center">
                        @Html.TextBoxFor(m => m.Name, new
                        {
                            @class = "form-control-lg form-text-box",
                            placeholder = "Enter Name",
                            style = "border-radius: 10px;",
                            id = "Name",
                            name = "Name"
                        })
                    </div>
                    @Html.ValidationMessageFor(m => m.Name)
                </div>


                <!-- Email Input -->
                <div class="form-outline">
                    @Html.LabelFor(m => m.Email, new { @class = "form-label form-control-lg form-l" })
                    <div class="d-flex justify-content-center">
                        @Html.TextBoxFor(m => m.Email, new
                        {
                            @class = "form-control-lg form-text-box",
                            placeholder = "Email address",
                            style = "border-radius: 10px;",
                            id = "Email",
                            name = "Email"
                        })
                    </div>
                    @Html.ValidationMessageFor(m => m.Email)
                </div>


                <!-- Password Input -->
                <div class="form-outline">
                    @Html.LabelFor(m => m.Password, new { @class = "form-label form-control-lg form-l" })
                    <div class="d-flex justify-content-center">
                        @Html.PasswordFor(m => m.Password, new
                        {
                            @class = "form-control-lg form-text-box",
                            placeholder = "Create password",
                            style = "border-radius: 10px;",
                            id = "registerPassword",
                        })
                    </div>
                    @Html.ValidationMessageFor(m => m.Password)
                </div>


                <!-- Sign Up Button -->
                <div class="d-flex justify-content-center mt-4">
                    <button type="submit" class="btn btn-primary btn-lg px-5 py-3"
                            style="border-radius: 25px;">
                        Sign Up
                    </button>
                </div>

                <!-- Login Prompt -->
                <p class="text-body text-center text-decoration-none"
                   style="font-size: 15px; font-weight: 400; padding: 3px 0">
                    Already have an account? <a href="@Url.Action("Login", "Auth")" class="link-danger">Login here</a>
                </p>
            </form>
        }
    </div>
</div>

